header {
  background: #000000;
  margin-bottom: 10px;
  h1,
  a {
    color: #ffffff;
  }
  ul {
    li {
      list-style: none;
      padding: 30px;
      a {
        padding: 30px;
      }
    }
  }
}
